.secao-inscricao{
    background-color: #692DE9;
    background-image:linear-gradient(400deg, #4822a3 100%, rgba(81, 35, 180, 0.100) 0.80%, rgba(115, 50, 255, 0.411) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    column-gap: 154px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
 
}
.secao-container-formulario{
   display: flex;
   
}


form input{
    width: 355px;
    height: 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

form label{
    align-self: flex-start;
    font-size: 14px;
   
}

.botao-form{
    width: 360px;
    height: 49px;
    border-radius: 5px;
    background-color:#371879;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 13px;
}

.formulario-titulo{
    font-size: 32px;
    margin-bottom: 30px;
}

.secao-inscricao-descricao{
    width: 555px;
    display: flex;
    align-items: center;
    justify-content: ce;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap:70px;
}

.box p {
    align-self: flex-start;
    line-height: 30px;
    font-size: 14px;
}