
.menu-cor{
    width: 100%;
    min-height: 120px;
    background-color: white;
}

.menu{
    display: flex;
    align-items: end;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 10px;
    
}

.navegacao-lista{
    display: flex;
}

.navegacao-link{
    padding: 10px;
    color: black;
    font-weight: 400;
    text-align: right;
    font-family: 'Inter';  
    text-decoration: none;  

}
.menu-logo{
    padding-top: 25px;
}

.barra{
    border: none;
    height:19px;
    background-color: black;
    width: 2px;

}



@media screen and (max-width:800px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    
    }
    .navegacao-lista{
        align-self: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .navegacao-link{
        margin: 0px;
    }
    .barra{
        display: none;
    }
}